<footer class="w-full lg:w-[740px] mx-auto">
  <span
    class="flex flex-wrap justify-center text-sm font-light text-slate-500 dark:text-white/60"
  >
    2025 - Creado por <a
      class="ms-1 font-semibold text-slate-900 dark:text-white"
      href="https://github.com/danielfc2001"
      target="_blank">danielfc2001</a
    >. Ideas tomadas del proyecto de portafolio de <a
      class="ms-1 font-semibold text-slate-900 dark:text-white"
      href="https://github.com/midudev"
      target="_blank">midudev</a
    >
  </span>
</footer>
